<div class="the_time">
    <span>{{ now | date: 'H:mm' }}</span>
    <div>{{ days[now.getDay()] }}</div>
</div>





<div id="alarms" *ngIf="alarms.length !== 0">
    <div id="alarm" *ngFor="let a of alarms; let i = index;" ngClass="{{a.state}}">
        
        <span>{{ a.label }}</span><br>

        <div *ngIf="a.state !== 'snoozing'">
            {{ a.time.getHours() | number : '2.0-0' }}:
            {{ a.time.getMinutes() | number : '2.0-0'  }}
        </div>

        <div  *ngIf="a.state === 'snoozing'">
            {{ a.snoozeTime.getHours() | number : '2.0-0' }}:   
            {{ a.snoozeTime.getMinutes() | number : '2.0-0' }}
        </div>

        <div>{{ a.state }}</div>
        
        <div *ngIf="a.repeat">
            <div *ngFor="let d of a.days; let i = index;" >
                <span *ngIf="d">{{ days[i] }}</span>
            </div>
        </div>
        <input type="button" value="Bewerk" (click)="editAlarm(a)" />
        
       
        <br>
    </div>

</div>



<app-set-alarm [alarms]="this.alarms" [alarm]="this.currentAlarm" [days]="this.days"></app-set-alarm>


<button (click)="createAlarm()"> add alarm </button>

<div *ngFor="let a of alarms">
    <app-alarming *ngIf="a !== undefined" [alarm]="a"></app-alarming>
</div>
