/* You can add global styles to this file, and also import other style files */
$dark: #1C1427;
$dark2: #40394A;
$green: #CCFFBD;
$dark_green: #7ECA9C;
$red: #E9896A;
$light: #F8F5F1;

body{
    font-family: Share;
    background-color: $dark;
    color:$light;
}